<div class="banner" style="background-image: url(http://static.soposted.com/uploads/2017/12/Calgary-Zumba-Exercise-in-Disguise.jpg);">
  <div class="container">
    <h1>Zumba Classes</h1>
      <p class="flip" onclick="myFunction()">Timetable:</p>
      <div id="panel">Monday       5.00pm          7.00pm<br>
                      Tuesday      6.00pm          8.00pm<br>
                      Wednesday    4.00pm          6.00pm<br>
                      Thursday     5.30pm          6.30pm<br>
                      Friday       3.00pm          4.00pm<br>
                      Saturday & Sunday - no classes
      </div>
      <p>Ease stress and feel at peace from a long week</p>
  </div>
</div>

<script>
function myFunction() {
  const x = document.getElementById("panel");
  if (x.style.display === "none") {
    x.style.display = "table";
  } else {
    x.style.display = "none";
  }
}
</script>

<p align="center"><iframe width="560" height="315" src="https://www.youtube.com/embed/cLJfmPaKb1M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



