<div class="banner" style="background-image: url(https://images.unsplash.com/photo-1559595500-e15296bdbb48?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80);">
  <div class="container">
    <h1>Meditation to ease the mind</h1>
      <p>Ease stress and feel at peace from a long week</p>
  </div>
</div>


</script>

<iframe width="560" height="315" src="https://www.youtube.com/embed/bb5OOO_0HXs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

