.banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner2 {
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://images.unsplash.com/photo-1471922694854-ff1b63b20054?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80);
}

#panel, .flip {
  font-size: 16px;
  padding: 8px;
  text-align: center;
  background-color: #5fdde5;
  color: white;
  border: solid 1px #a6d8a8;
  display: inline;
}

#panel {
  display: none;
}


